<header class="main-header">
    <h1 class="main-header__title">
      Computer Store
    </h1>
    <!-- <div class="container-menu"> -->
       <app-barra-pesquisa class="search"></app-barra-pesquisa>
      <nav class="main-header__menu">
        <ul>
          <li>
            <a routerLink="/produtos/" >Produtos</a>
          </li>
          <li>
            <a routerLink="/contato/">Contato</a>
          </li>
          <li class="cart">
            <a routerLink="/carrinho/" >
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <div class="badge-carrinho">{{carrinhoService.obtemCarrinho().length}}</div>
          </li>
          <!-- <li>
            <a><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a><i class="fa-brands fa-linkedin"></i></a>
          </li> -->
        </ul>
      </nav>
    <!-- </div> -->
  </header>
